header{
    background-image: url("../Images/Supreme\ Court\ header.jpg");
    background-repeat: no-repeat;
    background-position: center;
     background-size:cover;
    filter: opacity(0.9);
    width: 100%;
    padding-top:50px;
    padding-bottom:calc(0.8rem + 1vw);
}

.headerContent{
    background-color: rgba(40,40,40,0.5);
    width: 92%;
    margin: 10px auto;
    padding-bottom: calc(3.5rem + 1vw);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: calc(3rem + 2vw);
    letter-spacing: 1.7px;
}

.headerContentInner{
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

.headerResearch, .headerDB {
    flex: 50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: calc(1rem + 1vw);
    text-align: center;
    background-color:rgba(236, 56, 46, 0.6);
    background-clip: content-box;
    min-height: 280px;
}

@media only screen and (max-width:920px) { 
    
    
    .headerContentInner {
        flex-direction:column;
        align-items: center;
        
    }
   .headerResearch, .headerDB {
        width:80%;
       padding: calc(1rem + 1vw);
    }
    
    h2 {
        font-size: calc(1.2rem + 1.5vw);
        margin-top:0;
        width:95%;
    }
     
    
}

h2{
    font-size: calc(0.8rem + 1.1vw);
    color:var(--white);
    padding: 10px;
    font-weight: 400;
    line-height: 1.4;
}

a{
    font-family: Rubik, Arial;
    text-decoration: none;
    font-size: calc(0.6rem + 1vw);
    color: white;
    padding: 5px;
}

button{
    width: fit-content;
    background-color: rgba(105, 105, 105, 0.9);
    border-radius: 20px;
    padding: 5px;
    border:none;
    display:inline;
}

button:hover{
    background-color: var(--red);
    color:white;
}

.btnGroup{
    display:flex;
    width: 90%;
    flex-direction:row;
    justify-content: space-evenly;
}

.search{
    font-size: calc(0.6rem + 1vw);
    margin: 0 auto;
    border:none;
    color: white;
    font-family: Ionicons;
    background-color: rgba(0,0,0,0);
    display:inline;
}

.headerSearchbox{
    display:inline;
}

input[type="search"]{
    font-size: calc(0.6rem + 1vw);
    border-radius: 10px;
    color:  var(--red);
    font-family: Rubik, Arial;
    display:inline;
    border:4px solid white;
    border-radius:10px;
    display:inline;
}

input[type="search"]::placeholder{
    color:rgba(236, 56, 46, 0.6);
    font-family: Rubik, Arial;
}

@media only screen and (max-width:920px){

    a {
         font-size: calc(0.9rem + 1vw);
         line-height: 1.3;
    }
}

@media only screen and (max-width:850px){
    
    .btnGroup {
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
      }
      
      input[type="search"], .search {
          font-size: calc(0.9rem + 1vw);
      }
      
      input[type="search"], .search, input[type="search"]::placeholder {
      display:block;
      padding:8px;
      }
}



