/* .searchWrapper{

} */

.headerSearchbox{
    display:flex;
}

.search{
    font-size: calc(1rem + 1vw);
    margin: 0 auto;
    border:none;
    color: white;
    font-family: Ionicons;
    background-color: rgba(0,0,0,0);
    display:inline;
}

.search:hover{
    cursor: pointer;
}



