.notFoundDiv{
    background-image: url("../Images/navigation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;

   /* padding-top: 50px;  */
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(254,254,254,0.9);

}

.h1, .h2 {
    color: var(--red);
    margin: 0;
    text-align: center;
}

.h1{
    padding-top: 20px;
    font-size: 60px;
    margin-bottom: 20px;
}

.h2{
    font-size: 50px;
}

.home{
    width: 150px;
}

@media  only screen and (max-width:900px) {
    .content{
        transform: scale(0.85)
    }
}

@media  only screen and (max-width:780px) {
    .h1{
        font-size: 45px;
    }
    .h2{
        font-size: 35px;
    }

    .home{
        width: 80px;
    }

}