@font-face {
  font-family: Ionicons;
  src: url("./Fonts/ionicons.woff");
}

:root {
   --primary: #4392F1;
   /* --red: #EC382E; */
   --white: #FDFBFD;
   --grey: #7F7473;
   --orange: #FF9505;
   --blue: #4392F1;
}

html {
   font-size: 62.5%;
}

body {
   direction: rtl;
   margin: 0;
   padding: 0;
   font-family: Rubik, arial;
   width: 100vw;
   overflow-x: hidden;
}


/* header autocomplet MUI */

.MuiAutocomplete-root{
   width: 38ch; 
   background-color: var(--white);
   border-radius: 5px;
   
}

.MuiAutocomplete-root:focus{
   outline: 1px solid var(--primary);
}


.MuiAutocomplete-listbox{
   font-size: 15px;
   font-family: Rubik, arial;
}
 .Mui-focused{
border: none;

} 

.MuiInputLabel-root{
   font-size: 18px;
}

.MuiFormLabel-root{
   font-size: 18px !important;
   font-family: Rubik, arial;;
}

.MuiAutocomplete-input{
   font-size: 17px !important;
}

@Media only screen and (max-width:550px){
   .MuiAutocomplete-root{
      font-size: 15px;
      max-width: 60vw;
      margin-bottom: 12px;
   }

   .MuiInputBase-root{
      padding: 0;
   }

   .MuiFormLabel-root{
      font-size: 15px !important;
      
   }
}

/* Mui text field in changes form */

.muiFieldChanges .MuiInputBase-root{
   width: 20vw;
   margin: 8px;
   
}

.muiFieldChanges .MuiInputBase-root input{
   padding-top:12px !important;
   padding-left: 10px !important;
   padding-right: 12px !important;
   padding-bottom: 18px !important;
   font-size: 16px;
  
}
.muiFieldChanges .MuiInputBase-root input[placeholder]{
   color: var(--primary);
  
}

.muiFieldChanges .MuiInputBase-root legend{
   font-size: 15px;
   margin-top:8px;
   color: var(--primary);
   /* text-align: right; */
}

/* Data Grid MUI component */

.MuiDataGrid-root{
font-family: Rubik, arial;
margin-left: 10px;
 }

 .MuiDataGrid-columnsContainer{
    height: 60px !important;
    
 }

.MuiDataGrid-columnHeaderTitleContainer{
   flex-direction: row !important;
}


.MuiDataGrid-columnHeader{
justify-content: center;

}

.MuiDataGrid-columnHeaderTitle{
overflow: visible !important;
width: fit-content;
color: var(--primary);
font-size: 15px;
white-space: normal !important;
line-height: 1 !important;
text-align: center !important;

}

.Mui-even{
   background-color: #D9D9D9;
}

.Mui-even:hover{
   background-color: #D9D9D9 !important;
}

.MuiDataGrid-cell{
   /* text-align: center !important; */
   font-size: 14px;
   white-space: normal !important;
   line-height: 1 !important;
   display: flex !important;
   align-items: center;
   height: fit-content;
   max-height: 60px;
  justify-content: center;
  
}

.MuiDataGrid-toolbarContainer{
   background-color: var(--primary);
   margin-bottom: 15px;
   
}

 .MuiButton-text{
    font-size: 16px !important;
    color: var(--white) !important;
    
 }

 .MuiTablePagination-toolbar{
    
    color: var(--primary);
 }

 .MuiTablePagination-caption{
   font-size: 15px !important;
 }

/* Tabs Mui Component */
 
.MuiTabs-vertical{
   margin-right: 8px;
   margin-top: 12px;
    /* backgroundColor: theme.palette.background.paper, */
   display: 'flex';
   height: fit-content;
 }

 .MuiTab-wrapper{
   font-size: 17px;
   align-items: flex-start !important;
 }

 /* Visualization Tabs - recurring parts */
 /* --additional styles for unique elements in tabs are in module.css files-- */

 .h1-tabs{
   font-size: 30px;
   color: #463F3A;
   margin-bottom: 8px;
 }

 .h2-tabs{
   font-size: 20px;
   color: #463F3A;
   padding-top:0;
   margin-top:0;
 }

 .h3-tabs{
    font-size: 15px;
    color: #7F7473;
    text-align: center;
    line-height: 1.5;
 }

 .viz-container-tabs{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1050px;
 }

 .legend-container-tabs{
   width:80vw;
   display:flex;
   justify-content: center;
   margin-top: 18px;
   margin-bottom: 18px;
   flex-wrap: wrap;
   align-content: center;
 }

 .graph-container-tabs{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-content: center;
   margin-top: 25px;
 }

 .captionSpans-tabs:last-of-type{
   position: relative;
}

.captionSpans-tabs:last-of-type::after{

   content: "X";
   position: absolute;
   left: -6px;
   background-color: white;
   color: white;
}

 