@font-face {
  font-family: Ionicons;
  src: url("./Fonts/ionicons.woff");
}

:root {
   --red: #EC382E;
   --white: #FDFBFD;
}

html {
   font-size: 62.5%;
}

body {
   direction: rtl;
   margin: 0;
   padding: 0;
   font-family: Rubik, arial;
   width: 100vw;
   overflow-x: hidden;
}



