.h1{
    font-size: 30px;
    color: #463F3A;
    margin-bottom: 8px;
}

.h2{
    font-size: 20px;
    color: #463F3A;
    margin-top:10px;
}

.womenVizContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1050px;
}

.pictoContainer, .hammerContainer, .judegessContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    
}

@media only screen and (max-width:530px){ 
    

    .hammerContainer{
        transform: scale(0.85);
        margin-top: -250px;
        margin-bottom: -270px;
    }
    
}

@media only screen and (max-width:460px){ 
    
    .hammerContainer{
        transform: scale(0.75);
    }
    
}

@media only screen and (max-width:400px){ 
    
    .hammerContainer{
        transform: scale(0.67);
    }
    
}
